#phpbb_announcement{font-size:1.1em;background-color:#ecd5d8;border-radius:7px;margin:10px 0;padding:10px}#phpbb_announcement div{font-size:1.1em;line-height:1.5em;overflow-x:auto;overflow:hidden;margin:0}#phpbb_announcement .postimage{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;max-width:100%}#phpbb_announcement .close{background:transparent url(/web/20200601094742im_/https://ekoloko.co.il/ext/phpbb/boardannouncements/styles/all/theme/images/close.png) no-repeat 0 0;opacity:.6;float:right;width:12px;height:12px;margin:0 0 0 4px}.rtl #phpbb_announcement .close{float:left;margin:0 4px 0 0}.notouch #phpbb_announcement .close{opacity:0;transition:opacity .5s}.notouch #phpbb_announcement:hover .close{opacity:.6}#phpbb_announcement ul,#phpbb_announcement ol{margin-left:20px}.rtl #phpbb_announcement ul,.rtl #phpbb_announcement ol{margin-right:20px;margin-left:0}.clearfix:after{display:block;visibility:hidden;clear:both;height:0;content:'.'}
/*
     FILE ARCHIVED ON 09:47:42 Jun 01, 2020 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:13:12 Oct 10, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.582
  exclusion.robots: 0.026
  exclusion.robots.policy: 0.017
  esindex: 0.01
  cdx.remote: 162.676
  LoadShardBlock: 139.236 (3)
  PetaboxLoader3.datanode: 186.417 (4)
  load_resource: 127.932
*/