@import "/web/20200601094741cs_/https://ekoloko.co.il/styles/prosilver/theme/normalize.css?v=3.2";@import "/web/20200601094741cs_/https://ekoloko.co.il/styles/prosilver/theme/base.css?v=3.2";@import "/web/20200601094741cs_/https://ekoloko.co.il/styles/prosilver/theme/utilities.css?v=3.2";@import "/web/20200601094741cs_/https://ekoloko.co.il/styles/prosilver/theme/common.css?v=3.2";@import "/web/20200601094741cs_/https://ekoloko.co.il/styles/prosilver/theme/links.css?v=3.2";@import "/web/20200601094741cs_/https://ekoloko.co.il/styles/prosilver/theme/content.css?v=3.2";@import "/web/20200601094741cs_/https://ekoloko.co.il/styles/prosilver/theme/buttons.css?v=3.2";@import "/web/20200601094741cs_/https://ekoloko.co.il/styles/prosilver/theme/cp.css?v=3.2";@import "/web/20200601094741cs_/https://ekoloko.co.il/styles/prosilver/theme/forms.css?v=3.2";@import "/web/20200601094741cs_/https://ekoloko.co.il/styles/prosilver/theme/icons.css?v=3.2";@import "/web/20200601094741cs_/https://ekoloko.co.il/styles/prosilver/theme/colours.css?v=3.2";@import "/web/20200601094741cs_/https://ekoloko.co.il/styles/prosilver/theme/responsive.css?v=3.2";
/*
     FILE ARCHIVED ON 09:47:41 Jun 01, 2020 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:39:25 Oct 10, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.752
  exclusion.robots: 0.034
  exclusion.robots.policy: 0.021
  esindex: 0.012
  cdx.remote: 118.739
  LoadShardBlock: 270.442 (3)
  PetaboxLoader3.datanode: 326.137 (4)
  load_resource: 116.458
*/